	<section section-id="{{ sectionId }}" class="mt-5 mb-5">
		<div class="justify-center d-flex align-items-center">
			{% include 'title.twig' with { 'component_title': settings.category.name } %}
		</div>


		<div class="slider-inspire-home-page container overflow-hidden description-paragrah">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					{% for product in settings.category.products %}
						<div class="prod-col swiper-slide">
							{% include 'product-card.twig' with {'product' : product, 'index': key} %}
						</div>
					{% endfor %}
				</div>

				<div class="swiper-button-next"></div>
				<div class="swiper-button-prev"></div>
				{% if settings.display_more %}
					<div class="mt-5 text-center category-products-display-more-section">
						<a href="/categories/{{ settings.category.id }}/{{ settings.category.slug }}" class="more-button btn btn-outline-primary theme-text-primary theme-border-primary">{{ settings.more_text }}</a>
					</div>
				{% endif %}
			</div>
		</div>
	</section>


<style>
			{# Swiper #}

.slider-inspire-home-page .swiper-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.slider-inspire-home-page .swiper-button-next,
.slider-inspire-home-page .swiper-button-prev {
	color: var(--primary-color) !important;
  position: absolute;
  top: 50%;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
}

.slider-inspire-home-page .swiper-button-next::after,
.slider-inspire-home-page .swiper-button-prev::after {
	font-size: 24px !important;
}

.slider-inspire-home-page .swiper-button-next {
  right: 10px;
}
.slider-inspire-home-page .swiper-button-prev {
  left: 10px;
}


</style>


<script>
	// Swiper
  document.addEventListener('DOMContentLoaded', function () {
  var swiper = new Swiper('.slider-inspire-home-page .swiper-container', {
    loop: true,
    slidesPerView: 1,
    spaceBetween: 20,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      dynamicBullets: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 2,
        spaceBetween: 25,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      1024: {
        slidesPerView: 4,
        spaceBetween: 35,
      },
    }
  });
});
</script>

{% schema %}
{
    "name": {
        "ar": "منتجات التصنيف",
        "en": "Category products"
    },
    "icon": "fal fa-box",
    "display": true,
    "settings": {
        "category": {
            "type": "category_products",
            "label": {
                "ar": "اختر منتجات التصنيف",
                "en": "Select category products"
            }
        },
        "display_more": {
            "type": "checkbox",
            "label": {
                "ar": "",
                "en": ""
            },
            "noLabel": true,
            "option": {
                "ar": "عرض زر جميع منتجات التصنيف",
                "en": "Display button more products"
            }
        },
        "more_text": {
            "type": "text",
            "label": {
                "ar": "نص زر جميع منتجات التصنيف",
                "en": "More text"
            }
        }
    }
}
{% endschema %}
