  <section section-id="{{ sectionId }}" class="g_features ">
    <div class="container flex flex-col mx-auto">
      <div class="grid items-center justify-around grid-cols-3 text-center products">
      {% for item in settings.features %}
        <div class="products-item " data-sal="slide-up" data-sal-delay="{{loop.index}}00" data-sal-duration='400' data-sal-easing="ease-out-back">
            <img class="" src="{{item.icon_image}}" />
          <h3 class="mt-4">{{item.title}}</h3>
        </div>
      {% endfor %}
      </div>
    </div>
  </section> 






{% schema %}

{
    "name":{
        "ar":"مميزات متجرك - جلامور",
        "en":"features - glamour"
    },
    "icon": "fal fa-user",
    "display":"true",
    "settings":{
        "features": {
            "type": "list",
            "label": {
                "ar": "الخلفيات",
                "en": "bannars"
            },
            "settings": {
                "icon_image": {
                    "type": "image",
                    "label": {
                        "ar": " صوره الايقونه",
                        "en": "icon image"
                    }
                },
                "title": {
                    "type": "text",
                    "label": {
                        "ar": " اكتب ميزه متجرك",
                        "en": " feature of yopur store"
                    }
                }
            }
        }
    }
}


{% endschema %}