
.s-slider-v-centered .s-slider-block__title-nav{
    top: -40px !important;
    justify-content: flex-end !important;
}
.carousel-slider .s-slider-block__title-nav{
    display: flex !important;
}
@media (max-width:767px ) {
    .g_cat{
        margin-bottom: var(--mobile-margin);
    }
}

.g_cat .products-item .image-parent img{
    transition: ease all 0.5s;
}
.g_cat .products-item:hover .image-parent:hover img{
    transform: scale(1.3) rotate(10deg);
}
.g_cat .swiper {
  width: 100%;
  height: 100%;
  margin: 1em 0;
}

.g_cat .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
aspect-ratio:1;
}
.row.row-cols-md-4.g-3.align-items-center.justify-content-center {
    gap: 30px;
}
