

.section_c_r .container {
        overflow: hidden;
        padding-bottom: 20px;
}

@media (max-width: 767px) {
        .section_c_r .container {
                overflow: hidden;
                padding-bottom: 0;
        }
        .container_review {
                gap: 16px;
        }
        .section_c_r .title-heade {
                font-size: 20px;
        }
        .section_c_r .container_review {
                margin-block: 44px;
        }
}

.section_c_r .container_review{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 105px;
        margin: 86px auto;
}
.section_c_r .content_tistimonial {
        max-width: 385px;
        margin-left: 24px;
        background-color: #fff;
        border-width: 1px;
        box-shadow: 0px 10px 20px 0px rgba(78, 78, 78, 0.07);
        border-style: solid;
        border-image: linear-gradient(to bottom, #f0f0f0, #fff) 1;
        width: 33%;
}

.section_c_r .content_tistimonial .imag_raduse {
        display: flex;
        justify-content: center;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        max-width: 108px;
        aspect-ratio: 1;
}

.section_c_r .content_tistimonial .cover_content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 28px;
        padding: 78px 22px 35px;
}

.section_c_r .content_tistimonial .cover_content .desc_contant {
        font-size: 14px;
        font-weight: 400;
        line-height: 25px;
        color: #666;
        text-align: center;
}

.section_c_r .content_tistimonial .cover_content .rating_name {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;
}

.section_c_r .content_tistimonial .cover_content .rating_name .name {
        font-size: 18px;
        font-weight: 700;
        line-height: 150%;
        color: #121212;
        text-align: center;
}

.section_c_r .content_tistimonial .cover_content .rating_name .job {
        font-size: 14px;
        font-weight: 500;
        line-height: 180%;
        color: #3E3E3E;
        text-align: center;
}
