.g_fixed_bannar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
    margin-bottom: 111px;
    @media (max-width: 765px) {
        height: 60vh;
        margin-bottom: 56px;
    }
}
.g_fixed_bannar a button{
    background: var(--primary-color);
    border: 0;
    padding: 7px 24px;
    border-radius: 8px;
}
.landing-page-fixed-bannar .txt .custom-dlay-heading {
    animation-delay: .3s;
}
.landing-page-fixed-bannar .custom-dlay-p {
    animation-delay: .8s;
    }
.landing-page-fixed-bannar .custom-dlay-a {
    animation-delay: 1.2s;
    }
  
 