.image-title{
    background-image: var(--title-bg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img.f_img {
    grid-column: 4 / 1;
}

.ads {
    font-weight: 600;
    font-size: 24px;
    display: grid;
    gap: 25px;
    font-optical-sizing: auto;
    grid-template-columns: repeat(1, 1fr);
}

.ads .imgs {
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.ads .img {
    position: relative;
    border-radius: 5px;
}

.ads .img img {
    height: 100%;
    min-width: 100%;
    transition: all 0.3s;
}

.ads .img .over {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition-duration: 700ms;
    opacity: 0;
    overflow: hidden;
}

.ads .img .over .text {
    width: 100%;
    text-align: right;
    padding: 0 7%;
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.ads .img .over .text button {
    border: 0;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 20px;
    font-optical-sizing: auto;
}

.ads .img:hover img {
    opacity: 50%;
}

.ads .img:hover .over {
    opacity: 1;
}

.ads .f_img {
    overflow: hidden;
    width: inherit;
}

.ads .f_img img {
    width: unset;
    max-width: unset;
}

.ads .f_img .text {
    align-items: center !important;
}

@media (max-width: 992px) {
    .ads {
        font-size: 20px;
        gap: 20px;
    }
    
    .ads .imgs {
        grid-template-columns: repeat(3, minmax(210px, 300px));
        gap: 20px;
    }

    .ads .imgs .text {
        padding: 0 5%;
    }

    .ads .imgs .text p {
        max-width: 100%;
    }

    .ads .img {
        border-radius: 5px;
    }

    .ads .img img {
        opacity: 50%;
    }

    .ads .img .over {
        opacity: 1;
    }

    .ads .img .over button {
        border-radius: 5px;
        font-size: 16px;
        padding: 2.5px 10px;
    }

    .ads .f_img .over {
        padding: 5% 0 !important;
    }
}

@media (max-width: 767px) {
    .img.f_img {
        grid-column: unset !important;
    }
    .ads {
        justify-items: center;
        font-size: 20px;
        grid-template-columns: repeat(1, minmax(210px, 600px));
        justify-content: center;
    }

    .ads .imgs {
        grid-template-columns: repeat(1, minmax(210px, 600px));
        gap: 20px;
    }

    .ads .imgs .text {
        justify-content: center;
    }

    .ads .img {
        border-radius: 5px;
    }

    .ads .img .over .text {
        text-align: start;
    }

    .ads .img .over button {
        border-radius: 5px;
        font-size: 16px;
        padding: 5px 20px;
    }

    .ads .f_img .over {
        padding: 5% 0 !important;
        display: flex;
        align-items: center;
    }

    .ads .f_img .text {
        align-items: start !important;
    }
}
