.product-item img {
    object-fit: unset;
}
.product-item {
min-width: 100%;
max-width: 100%;
}

#product-view-add-to-cart img {
    width: 25px;
    height: 25px;
}


.product-item a.btn.btn-primary.btn-product-card-select-variant, a.product-card-add-to-cart {
    width: 90%; 
    height: 50px;

}

.pro-details{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.box-1-1{
    overflow: hidden;
}
.category{
    color: var(--primary-color);
    font-size: 13px;
    font-weight: 500;
}


.desk{
    z-index: 111111;
    position: relative;
    bottom: -50px;
    transition: all 0.3s;
}
.mob{
    display: none;
}
.product-item:hover .desk{
    bottom: 10px;
}

@media (max-width: 768px) {
    .desk{
        display: none !important;
    }
    .mob{
        display: block !important;
    }
 }