<section id="like-product">
    <div class="justify-center d-flex align-items-center">
        {% include 'title.twig' with { 'component_title': locals.similar_products_title  } %}
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    {% for key,rProduct in related_products %}
        <div class="product">
            {% include 'product-card.twig' with {'product' : rProduct, 'index': key, 'pr_settings':settings} %}
        </div>
    {% endfor %}
    </div>
</section>