{# 
| Variable           | Type      | Description         |
|--------------------|-----------|---------------------|
| component_title    | string    | Title of Section    |
#}

{#
| #for Example#
| ----------------------------------
| {% include "components.custom_components.image_title" with { component_title: trans('pages.blog_articles.related') } %}
#}
{% if component_title %}
<div class="image-title mb-[27px] md:mb-[32px]"  >
  <h1 class="title-heade">{{ component_title }}</h1>
</div>
{% endif %}